:root {
    --navBg: #16252c;
    --navLogo: #63a674;
    --navBorder: #939393;
    --navText: #fafbfc;
    --borderBottom: #d8dde0;
    --black: #000;
}

@font-face {
    font-family: "Qanelas-ExtraBold";
    src: url("../font/Qanelas-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Qanelas-UltraLight";
    src: url("../font/Qanelas-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url("../font/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Regular";
    src: url("../font/NotoSans-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--navBg);
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.sidenav h2:first-child {
    padding-top: 0;
}

.sidenav h2 {
    color: var(--navLogo);
    font-family: "NotoSans-Bold", sans-serif;
    padding: 15px 20px;
}

.sidenav .heading .logo {
    font-size: 1.7em;
    line-height: 55px;
    font-family: "Qanelas-ExtraBold", sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--navLogo);
    margin-bottom: 30px;
    border-bottom: none;
}

.sidenav .heading .logo:hover {
    background: none;
}

.sidenav .logo span {
    font-family: "Qanelas-UltraLight", sans-serif;
    color: var(--navText);
}

.sidenav .heading .logo img {
    height: 50%;
    margin-right: 10px;
}

.sidenav a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--navText);
    font-family: "NotoSans-Regular", sans-serif;
    font-size: 0.9em;
    border-bottom: 1px solid var(--navBorder);
    transition: 0.3s;
    line-height: 1.2em;
}

.sidenav a.active {
    background: var(--navLogo);
}

.sidenav a:hover {
    background: var(--navLogo);
}

nav {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid var(--borderBottom);
}

nav a {
    margin-left: 5em;
    line-height: 55px;
    text-decoration: none;
    color: var(--black);
    font-family: "NotoSans-Regular", sans-serif;
    transition: 0.3s;
}

nav a:hover {
    color: var(--navLogo);
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 40%;
        z-index: 10;
        transform: translateX(-100%);
        transition: 0.3s;
    }

    .sidenav.show {
        transform: translateX(0);
    }

    .sidenav .heading {
        display: flex;
    }

    .sidenav .show {
        position: relative;
        width: 40px;
        height: 5px;
        background: var(--black);
        float: right;
        margin-top: 40px;
        cursor: pointer;
        transform: translateX(60px);
    }

    .sidenav .show:before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black);
    }

    .sidenav .show:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black);
    }
}
